.scheduler_users-wrapper {
  -moz-display: flex;
  -moz-height: 273px;
  -moz-overflow-y: auto;
  -moz-overflow-x: hidden;
  -moz-scroll-behavior: smooth;
  -moz-background-color: #b4b7ba;
  display: flex;
  height: 273px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #b4b7ba;
}

.scheduler_users-wrapper::-webkit-scrollbar {
  -moz-width: 0;
  width: 0;
}
.scheduler_users-wrapper {
  scrollbar-width: none;
}

.scheduler_users {
  -moz-display: flex;
  -moz-flex-direction: column;
  -moz-gap: 1px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.user {
  -moz-font-family: 'Roboto', sans-serif;
  -moz-font-weight: 400;
  -moz-font-size: 14px;
  -moz-text-align: center;
  -moz-color: #fff;
  -moz-padding: 36.5px 5px;
  -moz-background-color: #00a591;
  -moz-z-index: 100;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 36.5px 5px;
  background-color: #00a591;
  z-index: 100;
}

.todos_user {
  -moz-display: flex;
  -moz-transition: all 1s;
  display: flex;
  transition: all 1s;
  cursor: pointer;
}

.todos {
  -moz-display: flex;
  -moz-align-items: center;
  -moz-flex-direction: column;
  -moz-gap: 1px;
  -moz-width: 72.16px;
  -moz-height: 90px;
  -moz-font-family: 'Roboto', sans-serif;
  -moz-font-weight: 400;
  -moz-font-size: 8px;
  -moz-text-align: center;
  -moz-color: #fff;
  -moz-background-color: #fff;
  -moz-text-align: center;
  -moz-margin-bottom: 1px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  width: 72.16px;
  height: 90px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #fff;
  background-color: #fff;
  text-align: center;
  margin-bottom: 1px;
}

.user_todo {
  -moz-display: flex;
  -moz-align-items: center;
  -moz-justify-content: center;
  -moz-position: relative;
  -moz-width: 100%;
  -moz-background-color: yellowgreen;
  -moz-transition: all 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: yellowgreen;
  transition: all 2s;
}
