.scheduler__executor {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  height: 273px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #b4b7ba;
}

.scheduler__executor::-webkit-scrollbar {
  width: 0;
}

.scheduler__executor {
  scrollbar-width: none;
}

.executor-item {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.executor-item__current {
  -webkit-text-fill-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 36.5px 5px;
  background-color: #00a591;
  z-index: 100;
}

.scheduler__row {
  display: -moz-flex;
  display: -webkit-flex;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  display: flex;
  transition: all 1s;
  cursor: pointer;
}

.scheduler__list {
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-text-fill-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  width: 72.16px;
  height: 90px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #fff;
  background-color: #fff;
  text-align: center;
  margin-bottom: 1px;
}

.scheduler__list>li:hover .scheduler__popup {
  opacity: 1;
}

.scheduler__popup {
  opacity: 0;
  position: absolute;
  background-color: rgba(34, 60, 80, 0.7);
  top: 0;
  left: 0;
  padding: 4px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 100;
  transition: all 0.3s;
}

.scheduler__todo {
  display: -moz-flex;
  display: -webkit-flex;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: yellowgreen;
  transition: all 2s;
}

.scheduler__todo>mark {
  -webkit-text-fill-color: #fff;
  color: #fff;
}