.scheduler_users-wrapper {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  height: 273px;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #b4b7ba;
}

.scheduler_users-wrapper::-webkit-scrollbar {
  width: 0;
}
.scheduler_users-wrapper {
  scrollbar-width: none;
}

.scheduler_users {
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.user {
  -webkit-text-fill-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 36.5px 5px;
  background-color: #00a591;
  z-index: 100;
}

.todos_user {
  display: -moz-flex;
  display: -webkit-flex;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  display: flex;
  transition: all 1s;
  cursor: pointer;
}

.todos {
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-text-fill-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1px;
  width: 72.16px;
  height: 90px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 8px;
  text-align: center;
  color: #fff;
  background-color: #fff;
  text-align: center;
  margin-bottom: 1px;
}

.user_todo {
  display: -moz-flex;
  display: -webkit-flex;
  -moz-transition: all 2s;
  -webkit-transition: all 2s;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: yellowgreen;
  transition: all 2s;
}

.user_todo > mark {
  -webkit-text-fill-color: #fff;
  color: #fff;
}
