.date-item {
  position: absolute;
  top: -24px;
  left: 82px;
  overflow: hidden;
}

.date-item__wrapper {

  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  width: 100%;
  transition: all 1s;
}

.date-item__current {
  -webkit-text-fill-color: #00a591;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #00a591;
  border: solid 1px #f0ede5;
  padding: 5px 20px 5px 20px;
}