.scheduler_date-slider {
  position: absolute;
  top: -24px;
  left: 82px;
  overflow: hidden;
}

.scheduler_date {
  width: 100%;
  transition: all 1s;
}

.date {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #00a591;
  border: solid 1px #f0ede5;
  padding: 5px 20px 5px 20px;
}
