.scheduler_backlog {
  display: -webkit-flex;
  width: 170px;
  height: 319px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: #b4b7ba;
  padding: 5px;
  margin-top: -15px;
}

.scheduler_backlog-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.scheduler_backlog_input_wrapper {
  display: -webkit-flex;
  -moz-background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: black;
  background-color: #fff;
  border-radius: 4px;
  padding: 4px;
}

.scheduler_backlog-search {
  overflow: hidden;
}

.scheduler_backlog-search-icon {
  -moz-background-size: contain;
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../../assets/image/svg/search.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.scheduler_backlog-search::placeholder {
  -webkit-text-fill-color: #b4b7ba;
  color: #b4b7ba;
}

.scheduler_backlog-list {
  width: 100%;
  overflow: auto;
}

.scheduler_backlog-list > li {
  -webkit-text-fill-color: #27292cbd;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #27292cbd;
  background-color: #f5f5f5;
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.todo_popup {
  opacity: 0;
  position: absolute;
  background-color: rgba(34, 60, 80, 0.7);
  top: 0;
  left: 0;
  padding: 4px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 100;
  transition: all 0.3s;
}

.todos > li:hover .todo_popup {
  opacity: 1;
}

.scheduler_backlog-list::-webkit-scrollbar {
  width: 0;
}

.scheduler_backlog-list {
  scrollbar-width: none;
}

.hide {
  display: none;
}

mark {
  -webkit-text-fill-color: #0656b4;
  color: #0656b4;
}

@media (max-width: 751px) {
  .scheduler_backlog {
    display: none;
  }
}
