.scheduler_app {
  display: flex;
  justify-content: center;
}

.scheduler_wrapper-content {
  width: 587px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 31px;
}

.scheduler {
  width: 100%;
  position: relative;
}
