.scheduler {
  display: -webkit-flex;
  display: -moz-flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  width: 1027px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.scheduler__content {
  display: -moz-flex;
  display: -webkit-flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  width: 587px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 31px;
}

.scheduler__slider {
  width: 100%;
  position: relative;
}

@media (max-width: 751px) {
  .scheduler_button-wrapper {
    left: 21%;
  }
}