.scheduler_app {
  -moz-width: 1027px;
  -moz-margin: 0 auto;
  -moz-position: relative;
  -moz-display: flex;
  -moz-sjustify-content: center;
  width: 1027px;
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.scheduler_button-wrapper {
  -moz-position: absolute;
  -moz-top: -13px;
  -moz-left: 13%;
  -moz-display: flex;
  -moz-height: 18px;
  -moz-gap: 500px;
  position: absolute;
  top: -13px;
  left: 13%;
  display: flex;
  height: 18px;
  gap: 500px;
}

.scheduler_button-left {
  -moz-font-family: 'Roboto', sans-serif;
  -moz-font-weight: 400;
  -moz-font-size: 12px;
  -moz-text-align: center;
  -moz-color: #fff;
  -moz-background-color: #00a591;
  -moz-border-radius: 3px;
  -moz-padding: 2px 10px;
  -moz-cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #00a591;
  border-radius: 3px;
  padding: 2px 10px;
  cursor: pointer;
}

.scheduler_button-right {
  -moz-font-family: 'Roboto', sans-serif;
  -moz-font-weight: 400;
  -moz-font-size: 12px;
  -moz-text-align: center;
  -moz-color: #fff;
  -moz-background-color: #00a591;
  -moz-border-radius: 3px;
  -moz-padding: 2px 10px;
  -moz-cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #00a591;
  border-radius: 3px;
  padding: 2px 10px;
  cursor: pointer;
}

.scheduler_wrapper-content {
  -moz-width: 587px;
  -moz-overflow: hidden;
  -moz-display: flex;
  -moz-align-items: center;
  -moz-justify-content: center;
  -moz-padding-top: 31px;
  width: 587px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 31px;
}

.scheduler_button-right:active {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.scheduler_button-left:active {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.scheduler {
  -moz-width: 100%;
  -moz-width: 100%;
  width: 100%;
  position: relative;
}

@media (max-width: 751px) {
  .scheduler_button-wrapper {
    -moz-left: 21%;
    left: 21%;
  }
}
