header {
  -moz-width: 100%;
  -moz-position: fixed;
  -moz-top: 0;
  -moz-left: 0;
  -moz-padding: 20px 10px 20px 10px;
  -moz-z-index: 100;
  -moz-background-color: #b4b7ba;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 10px 20px 10px;
  z-index: 100;
  background-color: #b4b7ba;
}

.header_title {
  -moz-font-family: 'Roboto', sans-serif;
  -moz-font-weight: 500;
  -moz-font-size: 19px;
  -moz-text-align: center;
  -moz-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 19px;
  text-align: center;
  color: #fff;
}
